:root {
    --md-admonition-icon--command: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m7 21 7.9-18H17L9.1 21z"/></svg>')
}

.md-typeset .admonition.command,
.md-typeset details.pid-pipcommander {
    border-color: #2094f3;
}

.md-typeset .command>.admonition-title,
.md-typeset .command>summary {
    background-color: rgba(43, 78, 155, 0.1);
}

.md-typeset .command>.admonition-title::before,
.md-typeset .command>summary::before {
    background-color: #1975d2;
    -webkit-mask-image: var(--md-admonition-icon--command);
    mask-image: var(--md-admonition-icon--command);
}

.md-typeset .command>.admonition-title {
    font-size: 1rem;
}